
html, body {
  margin: 0;
  padding: 0;
  font-family: Apercu;
  
}

.title {
  text-align: center
}

#tips {
  color:rosybrown
}

#container {
  background: #c79ef812;
  /* height: 500px; */
  padding: 20px;
  font-size: 14px;
  border-radius: 33px;
  text-align: center;
}

#text-container {
  /* height: 100px; */
  width: 100%;
  text-align: center;
}

#instruction {
  margin-top: 20px;
}

.result-color {
  color: #A159FC;
}

.green-color {
  color: #0bcf82;
}

.highlight {
  opacity: 0.4;
  background-color: rgba(161,89,252, 0.2) !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fileUploader {
  opacity: 0;
}

#uploader-btn {
  background: #faebd700;
  margin-top: 1em;
  color: #0bcf81;
  border: solid 1px #0bcf81;
  padding: .6em 2em;
  line-height: 2;
  font-size: 12px;
  font-family: Apercu;
  cursor: pointer;
  border-radius: 10px;
}

#uploader-btn:hover {
  color: white;
  background-color: #0bcf82;
  border: solid 1px #0bcf82;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
